body {
    text-align: left;
    margin: 0;
    background-color: #212A3E;
    display: block;
}

/* Top container */

.top-container {
    display: block;
    position: relative;
}

.top {
    background-size: cover;
    background-image: url("../images/first_page.jpg");
    background-position: center;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 700px;
}

h1, h2 {
    position: relative;
    text-align: center;
    color: #FFF7D4;
    font-family: Georgia, serif;
    z-index: 2;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2rem;
}

.image-container {
    grid-column: 3;
}

#cv_picture {
    position: relative;
    border-radius: 50%;
    width: 80%;
}

/* Intro */

.intro-container {
    display: block;
    background-color: #C07F00;
    position: relative;
    padding-top: 30px;
}

.intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro > div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    position: relative;
    width: 70vw;
}

.titles {
    color: #4C3D3D;
    text-align: center;
    font-size: 3rem;
    margin: 2rem 2rem 2rem 2rem;
}

.separate {
    position: relative;
    border-top: 15px dotted #4C3D3D;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    width: 40%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

p {
    color: #4C3D3D;
    font-size: 1.7rem;
    text-align: center;
}

/* Schools */

.schools-container {
    display: block;
    background-color: #C07F00;
    position: relative;
    padding-top: 30px;
}

.schools {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    background-color: #C07F00;
    position: relative;
}

.school-pictures {
    position: relative;
    text-align: center;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 2rem 2rem 2rem 2rem;
}

.card {
    position: relative;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 20rem;
    background-color: #FFF7D4;
}

.card > p {
    position: relative;
    width: 95%;
}

.school {
    border-radius: 15%;
    width: 95%;
    height: auto;
}

/* My skills */
.skills-container {
    display: block;
    background-color: #C07F00;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}

.skills {
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-bottom: 50px;
}

table {
    transform: rotate(15deg);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    background-color: #FFF7D4;
    height: 90%;
}

table tr {
    padding-top: 10px;
}

.table-header > th {
    color: #212A3E ;
    font-size: larger;
}

.wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #212A3E;
    width: 150px;
    height: 20px;
}

.progress {
    height: 100%;
    background-color: #C07F00;
}

.first {
    width: 90%;
}

.second {
    width: 80%;
}

.third {
    width: 80%;
}

.fourth {
    width: 50%;
}

.fifth {
    width: 75%;
}

.skills-pic {
    height: 209px;
    width: 400px;
    border-radius: 15%;
    transform: rotate(-15deg);
}

/* Footer details */

.footer-container {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-links {
    display: inline-flex;
    justify-content: center;
    align-items: left;
    gap: 2rem;
}

.contact-links > p {
    display: inline-block;
    width: 40%;
}

a {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    color: #FFF7D4;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #C07F00;
}

.contact-images {
    width: 3rem;
    display: inline;
    margin: 0 5px;
}

.footer > p {
    color: #FFF7D4;
    font-size: 1rem;
}

@media (max-width: 800px) {
    .top {
        background-image: url("../images/first_page.jpg");
        display: grid;
        grid-template-rows: 20% 20% 30% 30%;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        padding-bottom: 150px;
        padding-top: 50px;
    }

    .image-container {
        grid-row: 4;
        grid-column: 1;
        display: flex;
        justify-content: center;
    }

    #cv_picture {
        height: auto;
        width: 40%;
    }

    h1 {
        grid-row: 1;
        grid-column: 1;
        font-size: 2.9rem;
    }

    h2 {
        grid-row: 2;
        grid-column: 1;
        font-size: 1rem;
    }

    .school-pictures {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .card {
        width: 90%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .card > p {
        height: 20%;
    }
    
    .school {
        width: 90%;
    }

    .skills {
        display: flex;
        flex-direction: column;
    }

    table {
        width: 90%;
    }

    .skills-pic {
        width: 90%;
        height: auto;
    }

    .contact-links {
        flex-direction: column;
        align-items: center;
        gap: 1px;
    }

    .intro > div {
        width: 70%;
    }
}